
# General ignored
.vscode/*
docker-compose.yml

# Server source
.deno_plugins/*

environment/environment.production.ts
environment/environment.nightly.ts
environment/environment.dev.ts

# Server dependencies
services/badge/icon/icons

# Artifacts (pulled by Docker)
app/*
